html {
  --search-bar-width: 400px;
  --search-bar-height: 40px;

  --search-result-width: 33vw;
  --search-result-height: 33vh;
  --search-result-padding: 20px;
  --search-result-margin: 10px;
}

.search-bar {
  position: absolute;
  width: var(--search-bar-width);
  left: 50%;
  margin-left: calc(-1 * var(--search-bar-width)/2);
  top: 50%;
  margin-top: calc(-1 * var(--search-bar-height/2));
}

.search-bar input {
  width: 100%;
}

.search-bar button {
  display: none;
}

.search-results ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

em {
  background-color: #c9daea;
}

li {
  padding: var(--search-result-padding);
  margin: var(--search-result-margin);
  width: calc(var(--search-result-width) - 2 * var(--search-result-padding) - 2 * var(--search-result-margin));
  height: calc(var(--search-result-height) - 2 * var(--search-result-padding) - 2 * var(--search-result-margin));
  overflow: hidden;
  border: 1px solid grey;
  border-radius: 20px;
}

li:nth-of-type(5) {
  margin-left: calc(var(--search-result-width) + var(--search-result-margin));
}

.hit-substance {
  margin-bottom: 10px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  overflow: hidden;
  justify-content: center;
}

#modal-content {
  -ms-overflow-style: none;  /* IE 10+ */
  scrollbar-width: none;  /* Firefox */
}

#modal-content::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

#modal-content {
  background-color: white;
  max-width: 800px;
  overflow-y: scroll;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  box-sizing: content-box;
  border-radius: 10px;
}
